/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/inika-v21-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/inika-v21-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inika-700 - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/inika-v21-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/inika-v21-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/inter-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/inter-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/inter-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/inter-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    max-width: 1440px;
    margin: 0 auto;
    color: #EDF2EC;
}

header {
    background: #EDF2EC;
}

.wrap-content {
    max-width: 1222px;
    margin: 0 auto;
}

.header-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    display: inline-flex;
    margin-right: 688px;
}

.logo-link {
    display: block;
    margin: 56px auto 60px auto;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
}

.nav-list-item {
    margin-right: 46px;
}

.nav-list-item:last-child {
    margin-right: 0;
}

.header-logo-link {
    display: block;
    text-decoration: none;
    margin: 52px 1px 62px auto;
}

.logo-link {
    font-family: 'Inika';
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.nav-link-home {
    font-family: 'Inika';
    font-weight: 700;
    color: #E06733;
    text-decoration: none;
}

.nav-link {
    font-family: 'Inika';
    font-weight: 400;
    color: #010201;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.nav-link-home:hover,
.nav-link-home:focus,
.nav-link-home:active {
    opacity: .60;
}

.welcome {
    background-color: #EDF2EC;
}

.grow-plant {
    display: flex;
    flex: auto;
}

.grow-plant img {
    width: 448px;
}

.grow-plant-image {
    margin: 62px 0;
    margin-left: 109px;
}

.plant-prez {
    margin: 98px 109px 94px 227px;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 42px;
}

h1 span {
    color: #499A18;
}

.grow-text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    margin-bottom: 48px;
}

.button-learn {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 14px;
    border: 2px solid #E06733;
    width: 189px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: transparent;
}

.prof {
    display: flex;
    flex: content-box;
}

.we-are {
    margin: 161px 0 155px 109px;
}

.homeplant {
    max-width: 464px;
    margin: 93px 109px 93px 153px;
}

.prof-title {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.prof-title span {
    color: #E06733;
}

.we-are-block {
    width: 463px;
    margin-bottom: 40px;
}

.prof-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.service {
    background: #EDF2EC;
}

.service-project {
    margin: 0 324px 90px 109px;
    padding-top: 40px;
}

.service-buttton {
    display: flex;
    flex: content-box;
    align-items: center;

}

.service-title {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    max-width: 306px;
}

.service-choice {
    margin-left: 142px;
    display: flex;
    justify-content: space-around;
}

.garden,
.lawn {
    margin-right: 38px;
}

button.garden,
button.lawn,
button.planting {
    width: 161px;
    padding: 12px;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    text-align: center;
    border: 1px solid #E06733;
    border-radius: 5px;
}

.image-space {
    text-align: center;
    margin-left: 109px;
    max-width: 1222px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 121px;
}

.image-cpace-cart {
    border: 1px solid #E3E1D5;
    border-radius: 22px;
}

.cart-link a {
    text-decoration: none;
}

.cart-link {
    margin-bottom: 55px;
    cursor: pointer;
    border-radius: 20px;
}

.cart-link:hover {
    transform: scale(1.05, 1.05);
    background-color: #EDF2EC;
    box-shadow: 10px 15px 10px rgba(97, 134, 76, 0.25);
    transition: .8s;

}

h4 {
    margin: 10px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
}

figcaption p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    margin-bottom: 36px;
}

.prices {
    background-color: #FFFFFF;
}

.price-dash {
    margin: 40px 109px 115px;
    display: inline-flex;
    max-width: 1222px;
    justify-content: space-between;
}

.price-form h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 60px;
}

.price-form {
    width: 332px;
}

.price-form-button {
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 41px;
}

.price-form-button button {
    width: 250px;
    background: #EDF2EC;
    border-radius: 20px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 32px;
    padding: 16px 40px;
    display: flex;
    justify-content: space-between;
}

.contact_us {
    margin-left: 438px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;
}

.contact_us h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
    margin-bottom: 38px;
}

.contact_us h3 span {
    color: #499A18;
}

.button_us {
    width: 162px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    padding: 12px 0;
    margin-bottom: 39px;
}

.contacts {
    background: #EDF2EC;
    display: flex;
    flex-wrap: wrap;
}

.woman {
    margin: 53px 0 0 109px;
}

.contacts h2 {
    margin: 60px 64px 439px 113px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}


.place {
    background: #D6E7D2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 450px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    border: none;
    margin: 149px 109px 0 0;
    display: flex;
    align-items: center;
}

.place span {
    margin-left: 20px;
}

.button_place button .accord {
    margin-left: 339px;
}

.container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.footer-start{
    padding: 40px 0 40px 109px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}
.copy {
    margin-right: 20px;
}

.footer-start a {
    text-decoration: none;
    margin-left: 20px;
    color: #000000;
}
.footer-center {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    margin-top: 40px;
}

.footer-center a {
    color: #000000;
    text-decoration: none;
}

.footer-end {
    margin-top: 49px;
    margin-right: 109px;
}

.link-list {
    display: flex;
    flex-wrap: wrap;
}

.link-list-item {
    margin-right: 20px;
}

.button-learn:hover {
    background: white;
    transition: .9s;
}

.garden:hover,
/*.garden span:hover,*/
.lawn:hover,
/*.lawn span:hover,*/
.planting:hover
/*.planting span:hover */
{
    color: white;
    background: #b4de9c;
    border-color: #b4de9c;
    box-shadow: 10px 15px 10px rgba(42, 40, 40, 0.25);;
    transition: .8s;
}



.button-basic:hover,
.button-standart:hover,
.button-care:hover{
    opacity: .80;
    color: #40a10c;
    transition: .5s;
}

.button_us:hover {
    background: #E06733;
    color: #afe592;
    transition: .5s;
}

.inst:hover,
.face:hover,
.twit:hover,
.pint:hover{
    transform: scale(1.4, 1.4);
    background-color: white;
    transition: .7s;
}